.embellish-underline {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 4.5rem;
        height: 4px;
        border-radius: 0.5rem;
        background-color: var(--primary);
    }
}

.undertint-bgc {
    position: relative;
    background-color: var(--brightest);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1.875rem;
        height: 100%;
        width: 1.875rem;
        background-color: var(--brightest);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -1.875rem;
        height: 100%;
        width: 1.875rem;
        background-color: var(--brightest);
    }
}

.undertint-bgc-radius {
    position: relative;
    background-color: var(--brightest);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1.875rem;
        height: 100%;
        width: 1.875rem;
        background-color: var(--brightest);
        border-radius: 0 0 0 0.937rem;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -1.875rem;
        height: 100%;
        width: 1.875rem;
        background-color: var(--brightest);
        border-radius: 0 0 0.937rem 0;
    }
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.stroke-width1 {
    stroke-width: 1;
}

.stroke-width2 {
    stroke-width: 2;
}

.stroke-width3 {
    stroke-width: 3;
}

.stroke-width4 {
    stroke-width: 4;
}

.stroke-none {
    stroke: none;
}

.stroke-default-color {
    stroke: var(--stroke-default-color);
}

.stroke-color {
    stroke: var(--primary);
}

.fill-color {
    fill: var(--primary);
}

.fill-none {
    fill: none;
}

p {
    line-height: 1.8;
}
