a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

button {
    all: unset;
}

// input {
//     border: 1px solid var(--borderColor);
//     border-radius: 0;
//     outline: none;
//     caret-color: none;
// }

// input::-webkit-input-placeholder {
//     color: var(--borderColor);
//     font-weight: 300;
// }
