.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.f-jc-sb {
    justify-content: space-between;
}

.f-jc-center {
    justify-content: center;
}

.fc {
    display: flex;
    align-items: center;
    justify-content: center;
}
