.h1 {
    font-size: 3rem;
}

.h2 {
    font-size: 2.6rem;
}

.h3 {
    font-size: 2rem;
}

.h4 {
    font-size: 1.6rem;
}

.h5 {
    font-size: 1.4rem;
}

.h6 {
    font-size: 1.2rem;
}

.title {
    font-weight: 500;
}

.sub-title {
    font-weight: 400;
}

.text {
    font-weight: 300;
}

.text-center {
    text-align: center;
}
