// margin
.mx {
    margin: 0 auto;
}

.mx05 {
    margin: 0 0.5rem;
}

.mx08 {
    margin: 0 0.8rem;
}

.mx1 {
    margin: 0 1rem;
}

.mx2 {
    margin: 0 1.5rem;
}

.mx3 {
    margin: 0 2rem;
}

.mx4 {
    margin: 0 2.5rem;
}

.mx5 {
    margin: 0 3rem;
}

.mx6 {
    margin: 0 3.5rem;
}

.mx7 {
    margin: 0 4rem;
}

.mx8 {
    margin: 0 4.5rem;
}

.mx9 {
    margin: 0 5rem;
}

.mx10 {
    margin: 0 10px;
}

.mx15 {
    margin: 0 15px;
}

.mx20 {
    margin: 0 20px;
}
.mx25 {
    margin: 0 25px;
}

.mx30 {
    margin: 0 30px;
}

.mx35 {
    margin: 0 35px;
}
.mx40 {
    margin: 0 40px;
}
.mx45 {
    margin: 0 45px;
}
.mx50 {
    margin: 0 50px;
}

.my {
    margin: auto 0;
}

.my05 {
    margin: 0.5rem 0;
}

.my08 {
    margin: 0.8rem 0;
}

.my1 {
    margin: 1rem 0;
}

.my2 {
    margin: 1.5rem 0;
}
.my3 {
    margin: 2rem 0;
}

.my4 {
    margin: 2.5rem 0;
}

.my5 {
    margin: 3rem 0;
}

.my6 {
    margin: 3.5rem 0;
}

.my7 {
    margin: 4rem 0;
}

.my8 {
    margin: 4.5rem 0;
}

.my9 {
    margin: 5rem 0;
}

.my10 {
    margin: 10px 0;
}

.my15 {
    margin: 15px 0;
}

.my20 {
    margin: 20px 0;
}

.my25 {
    margin: 25px 0;
}
.my30 {
    margin: 30px 0;
}
.my35 {
    margin: 35px 0;
}

.my40 {
    margin: 40px 0;
}
.my45 {
    margin: 45px 0;
}
.my50 {
    margin: 50px 0;
}

.mt0 {
    margin-top: 0 !important;
}

.mt05 {
    margin-top: 0.5rem;
}

.mt08 {
    margin-top: 0.5rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 1.5rem;
}

.mt3 {
    margin-top: 2rem;
}

.mt4 {
    margin-top: 2.5rem;
}

.mt5 {
    margin-top: 3rem;
}

.mt6 {
    margin-top: 3.5rem;
}

.mt7 {
    margin-top: 4rem;
}

.mt8 {
    margin-top: 4.5rem;
}

.mt9 {
    margin-top: 5rem;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mr0 {
    margin-right: 0 !important;
}

.mr05 {
    margin-right: 0.5rem;
}

.mr08 {
    margin-right: 0.5rem;
}

.mr1 {
    margin-right: 1rem;
}

.mr2 {
    margin-right: 1.5rem;
}

.mr3 {
    margin-right: 2rem;
}

.mr4 {
    margin-right: 2.5rem;
}

.mr5 {
    margin-right: 3rem;
}

.mr6 {
    margin-right: 3.5rem;
}

.mr7 {
    margin-right: 4rem;
}

.mr8 {
    margin-right: 4.5rem;
}

.mr9 {
    margin-right: 5rem;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb05 {
    margin-bottom: 0.5rem;
}

.mb08 {
    margin-bottom: 0.5rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 1.5rem;
}

.mb3 {
    margin-bottom: 2rem;
}

.mb4 {
    margin-bottom: 2.5rem;
}

.mb5 {
    margin-bottom: 3rem;
}

.mb6 {
    margin-bottom: 3.5rem;
}

.mb7 {
    margin-bottom: 4rem;
}

.mb8 {
    margin-bottom: 4.5rem;
}

.mb9 {
    margin-bottom: 5rem;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml0 {
    margin-left: 0 !important;
}

.ml05 {
    margin-left: 0.5rem;
}

.ml08 {
    margin-left: 0.5rem;
}

.ml1 {
    margin-left: 1rem;
}

.ml2 {
    margin-left: 1.5rem;
}

.ml3 {
    margin-left: 2rem;
}

.ml4 {
    margin-left: 2.5rem;
}

.ml5 {
    margin-left: 3rem;
}

.ml6 {
    margin-left: 3.5rem;
}

.ml7 {
    margin-left: 4rem;
}

.ml8 {
    margin-left: 4.5rem;
}

.ml9 {
    margin-left: 5rem;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.m0 {
    padding: 0 !important;
}

.m02 {
    padding: 0.2rem;
}

.m05 {
    padding: 0.5rem;
}

.m08 {
    padding: 0.8rem;
}

.m1 {
    padding: 1rem;
}

.m2 {
    padding: 1.5rem;
}

.m3 {
    padding: 2rem;
}

.m4 {
    padding: 2.5rem;
}

.m5 {
    padding: 3rem;
}

.m6 {
    padding: 3.5rem;
}

.m7 {
    padding: 4rem;
}

.m8 {
    padding: 4.5rem;
}

.m9 {
    padding: 5rem;
}

.m10 {
    padding: 10px;
}

.m15 {
    padding: 15px;
}

.m20 {
    padding: 20px;
}

.m25 {
    padding: 25px;
}

.m30 {
    padding: 30px;
}

.m35 {
    padding: 35px;
}

.m40 {
    padding: 40px;
}

.m45 {
    padding: 45px;
}

.m50 {
    padding: 50px;
}

// padding

.px {
    padding: 0 auto;
}

.px05 {
    padding: 0 0.5rem;
}

.px08 {
    padding: 0 0.8rem;
}

.px1 {
    padding: 0 1rem;
}

.px2 {
    padding: 0 1.5rem;
}

.px3 {
    padding: 0 2rem;
}

.px4 {
    padding: 0 2.5rem;
}

.px5 {
    padding: 0 3rem;
}

.px6 {
    padding: 0 3.5rem;
}

.px7 {
    padding: 0 4rem;
}

.px8 {
    padding: 0 4.5rem;
}

.px9 {
    padding: 0 5rem;
}

.px10 {
    padding: 0 10px;
}

.px15 {
    padding: 0 15px;
}

.px20 {
    padding: 0 20px;
}
.px25 {
    padding: 0 25px;
}

.px30 {
    padding: 0 30px;
}

.px35 {
    padding: 0 35px;
}
.px40 {
    padding: 0 40px;
}
.px45 {
    padding: 0 45px;
}
.px50 {
    padding: 0 50px;
}

.py {
    padding: auto 0;
}

.py05 {
    padding: 0.5rem 0;
}

.py08 {
    padding: 0.8rem 0;
}

.py1 {
    padding: 1rem 0;
}

.py2 {
    padding: 1.5rem 0;
}
.py3 {
    padding: 2rem 0;
}

.py4 {
    padding: 2.5rem 0;
}

.py5 {
    padding: 3rem 0;
}

.py6 {
    padding: 3.5rem 0;
}

.py7 {
    padding: 4rem 0;
}

.py8 {
    padding: 4.5rem 0;
}

.py9 {
    padding: 5rem 0;
}

.py10 {
    padding: 10px 0;
}

.py15 {
    padding: 15px 0;
}

.py20 {
    padding: 20px 0;
}

.py25 {
    padding: 25px 0;
}
.py30 {
    padding: 30px 0;
}
.py35 {
    padding: 35px 0;
}

.py40 {
    padding: 40px 0;
}
.py45 {
    padding: 45px 0;
}
.py50 {
    padding: 50px 0;
}

.pt0 {
    padding-top: 0 !important;
}

.pt05 {
    padding-top: 0.5rem;
}

.pt08 {
    padding-top: 0.5rem;
}

.pt1 {
    padding-top: 1rem;
}

.pt2 {
    padding-top: 1.5rem;
}

.pt3 {
    padding-top: 2rem;
}

.pt4 {
    padding-top: 2.5rem;
}

.pt5 {
    padding-top: 3rem;
}

.pt6 {
    padding-top: 3.5rem;
}

.pt7 {
    padding-top: 4rem;
}

.pt8 {
    padding-top: 4.5rem;
}

.pt9 {
    padding-top: 5rem;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pr0 {
    padding-right: 0 !important;
}

.pr05 {
    padding-right: 0.5rem;
}

.pr08 {
    padding-right: 0.5rem;
}

.pr1 {
    padding-right: 1rem;
}

.pr2 {
    padding-right: 1.5rem;
}

.pr3 {
    padding-right: 2rem;
}

.pr4 {
    padding-right: 2.5rem;
}

.pr5 {
    padding-right: 3rem;
}

.pr6 {
    padding-right: 3.5rem;
}

.pr7 {
    padding-right: 4rem;
}

.pr8 {
    padding-right: 4.5rem;
}

.pr9 {
    padding-right: 5rem;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb05 {
    padding-bottom: 0.5rem;
}

.pb08 {
    padding-bottom: 0.5rem;
}

.pb1 {
    padding-bottom: 1rem;
}

.pb2 {
    padding-bottom: 1.5rem;
}

.pb3 {
    padding-bottom: 2rem;
}

.pb4 {
    padding-bottom: 2.5rem;
}

.pb5 {
    padding-bottom: 3rem;
}

.pb6 {
    padding-bottom: 3.5rem;
}

.pb7 {
    padding-bottom: 4rem;
}

.pb8 {
    padding-bottom: 4.5rem;
}

.pb9 {
    padding-bottom: 5rem;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}
.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.pl0 {
    padding-left: 0 !important;
}

.pl05 {
    padding-left: 0.5rem;
}

.pl08 {
    padding-left: 0.5rem;
}

.pl1 {
    padding-left: 1rem;
}

.pl2 {
    padding-left: 1.5rem;
}

.pl3 {
    padding-left: 2rem;
}

.pl4 {
    padding-left: 2.5rem;
}

.pl5 {
    padding-left: 3rem;
}

.pl6 {
    padding-left: 3.5rem;
}

.pl7 {
    padding-left: 4rem;
}

.pl8 {
    padding-left: 4.5rem;
}

.pl9 {
    padding-left: 5rem;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.p0 {
    padding: 0 !important;
}

.p02 {
    padding: 0.2rem;
}

.p05 {
    padding: 0.5rem;
}

.p08 {
    padding: 0.8rem;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 1.5rem;
}

.p3 {
    padding: 2rem;
}

.p4 {
    padding: 2.5rem;
}

.p5 {
    padding: 3rem;
}

.p6 {
    padding: 3.5rem;
}

.p7 {
    padding: 4rem;
}

.p8 {
    padding: 4.5rem;
}

.p9 {
    padding: 5rem;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.p45 {
    padding: 45px;
}

.p50 {
    padding: 50px;
}
