.main-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.basic-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    transition: all 0.5s ease-in-out;
}

.content-info {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
}

.w-auto {
    width: 100%;
}

.skill-box-wrapper {
    padding: 0px;
    padding-bottom: 20px;
}

.aside-li-width {
    width: auto;
}

.avatar-g {
    -webkit-clip-path: inset(0.5rem 0.5rem 0.5rem 0.5rem round 0.5rem);
    clip-path: inset(0.5rem 0.5rem 0.5rem 0.5rem round 0.5rem);
}

@media (min-width: 576px) {
    .main-container {
        max-width: 540px;
    }
    .avatar-g {
        -webkit-clip-path: inset(1rem 1rem 1rem 1rem round 2rem);
        clip-path: inset(1rem 1rem 1rem 1rem round 2rem);
    }
}

@media (min-width: 768px) {
    .main-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .main-container {
        max-width: 960px;
    }
    .w-auto {
        width: 50%;
    }
    .skill-box-wrapper {
        &:nth-child(odd) {
            padding-right: 10px;
        }
        &:nth-child(even) {
            padding-left: 10px;
        }
    }
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 1140px;
    }
    .basic-info {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .w-auto {
        width: 50%;
    }
    .skill-box-wrapper {
        &:nth-child(odd) {
            padding-right: 10px;
        }
        &:nth-child(even) {
            padding-left: 10px;
        }
    }
    .content-info {
        margin-top: 0px;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .aside-li-width {
        width: 100%;
    }
}
