:root {
    --primary: #f00056;
    --secondary: #eb578b;
    --brightest: #fbf8fa;
    --light: #ebdbe5;
    --brightness1: #d1b1c0;
    --brightness2: #a88690;
    --brightness3: #8e4b6d;
    --brightness4: #82345f;
    --brightness5: #601b3c;
    --dark: #320617;
    --darkest: #0e0106;
    --white: #ffffff;
    --gray1: #eeeeee;
    --gray2: #d7d7d7;
    --gray3: #c7c7c7;
    --gray4: #a9a9a9;
    --gray5: #808080;
    --gray6: #575757;
    --gray7: #393939;
    --gray8: #292929;
    --gray9: #111111;
    --black: #000;
    --root-size: 12px;
    --timeline-icon-width: 10px;
    --stroke-default-color: var(--primary);
}
