.timeline-item {
    padding: 0 0 10px 20px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 2px;
        width: 1px;
        height: calc(100% - 10px);
        background-color: var(--light);
    }
    &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: -4px;
        width: var(--timeline-icon-width);
        height: var(--timeline-icon-width);
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: rgba(235, 219, 229, 0.95);
        background-color: var(--primary);
    }
    .time {
        color: var(--brightness2);
    }
}
