<div class="main-container content">
    <div class="flex flex-wrap">
        <div class="basic-info">
            <div class="box pb0">
                <aside>
                    <svg
                        class="avatar-svg avatar avatar-180 block"
                        viewBox="0 0 188 188"
                    >
                        <g class="avatar-g">
                            <image
                                xlink:href="./../assets/pic/yuanwen_avatar.jpeg"
                                height="100%"
                                width="100%"
                            ></image>
                        </g>
                    </svg>
                    <div class="self text-center">
                        <h4 class="name h4 title mb2">
                            {{ "name" | translation }}
                        </h4>
                        <div
                            class="position inline-block text-center sub-title mb3"
                        >
                            {{ "position" | translation }}
                        </div>
                    </div>
                    <div class="py1 undertint-bgc-radius">
                        <ul class="py1 fc flex-wrap">
                            <li
                                class="info-item flex flex-center p02 aside-li-width"
                            >
                                <span class="inline-block">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 48 48"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M39 34V16C39 14.8954 38.1046 14 37 14H34.3125H26.3438H11C9.89543 14 9 14.8954 9 16V34C9 35.1046 9.89543 36 11 36H37C38.1046 36 39 35.1046 39 34Z"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="stroke-width2 fill-none stroke-default-color"
                                        />
                                        <path
                                            d="M6 36H42"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="stroke-width2 stroke-default-color"
                                        />
                                        <path
                                            d="M6 42H42"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M9 21H15V26H21V21H27V29H33V21H39"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M9 23V19"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M39 23V19"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M33 14V8"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M24 14L24 4"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M15 14L15 8"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </span>
                                <span>{{ "birth" | translation }}</span>
                            </li>
                            <li
                                class="info-item flex flex-center p02 aside-li-width"
                            >
                                <span class="inline-block">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 48 48"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M24 44C24 44 39 32 39 19C39 10.7157 32.2843 4 24 4C15.7157 4 9 10.7157 9 19C9 32 24 44 24 44Z"
                                            class="stroke-width2 stroke-default-color fill-none"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M24 25C27.3137 25 30 22.3137 30 19C30 15.6863 27.3137 13 24 13C20.6863 13 18 15.6863 18 19C18 22.3137 20.6863 25 24 25Z"
                                            class="stroke-width2 stroke-default-color fill-none"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </span>
                                <span>{{ "location" | translation }}</span>
                            </li>
                            <li
                                class="info-item flex flex-center p02 aside-li-width"
                            >
                                <span class="inline-block">
                                    <svg
                                        width="18"
                                        height="20"
                                        viewBox="0 0 48 48"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M4 39H44V24V9H24H4V24V39Z"
                                            class="stroke-width2 stroke-default-color fill-none"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M4 9L24 24L44 9"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M24 9H4V24"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M44 24V9H24"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </span>
                                <span>{{ "mail" | translation }}</span>
                            </li>
                            <li
                                class="info-item flex flex-center p02 aside-li-width"
                            >
                                <span class="inline-block">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 48 48"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <rect
                                            x="11"
                                            y="4"
                                            width="26"
                                            height="40"
                                            rx="3"
                                            class="stroke-width2 stroke-default-color fill-none"
                                        />
                                        <path
                                            d="M22 10L26 10"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M20 38H28"
                                            class="stroke-width2 stroke-default-color"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </span>
                                <span>{{ "phoneNo" | translation }}</span>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <div class="content-info">
            <div class="box pb0">
                <section>
                    <div class="p1">
                        <jl-title>{{ "aboutMeTitle" | translation }}</jl-title>
                        <p class="h6 mb2">
                            {{ "introDesc" | translation }}
                        </p>
                        <p class="h6 mb2">
                            {{ "skillDesc" | translation }}
                        </p>
                    </div>
                </section>
                <section class="undertint-bgc">
                    <div class="doing py2">
                        <jl-title>{{ "doing" | translation }}</jl-title>
                        <div class="flex flex-wrap">
                            <ng-container *ngFor="let item of doingList">
                                <jl-doing
                                    class="skill-box-wrapper w-auto"
                                    [title]="item.title"
                                    [desc]="item.desc"
                                >
                                    <div [ngSwitch]="item.icon">
                                        <div *ngSwitchCase="'design'">
                                            <svg
                                                width="24"
                                                height="24"
                                                viewBox="0 0 48 48"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M19 32C11.268 32 5 25.732 5 18C5 10.268 11.268 4 19 4C26.732 4 33 10.268 33 18"
                                                    stroke-linejoin="round"
                                                    class="stroke-color stroke-width4"
                                                />
                                                <path
                                                    d="M44 18H18V44H44V18Z"
                                                    stroke-linejoin="round"
                                                    class="stroke-color stroke-width4 fill-none"
                                                />
                                            </svg>
                                        </div>
                                        <div *ngSwitchCase="'web'">
                                            <svg
                                                width="24"
                                                height="24"
                                                viewBox="0 0 48 48"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <rect
                                                    x="4"
                                                    y="8"
                                                    width="40"
                                                    height="32"
                                                    rx="3"
                                                    stroke-linejoin="round"
                                                    class="stroke-color stroke-width4"
                                                />
                                                <path
                                                    d="M4 11C4 9.34315 5.34315 8 7 8H41C42.6569 8 44 9.34315 44 11V20H4V11Z"
                                                    class="stroke-color fill-none stroke-width4"
                                                />
                                                <circle
                                                    r="2"
                                                    transform="matrix(-1.31134e-07 -1 -1 1.31134e-07 10 14)"
                                                    class="fill-color"
                                                />
                                                <circle
                                                    r="2"
                                                    transform="matrix(-1.31134e-07 -1 -1 1.31134e-07 16 14)"
                                                    class="fill-color"
                                                />
                                            </svg>
                                        </div>
                                        <div *ngSwitchCase="'app'">
                                            <svg
                                                width="24"
                                                height="24"
                                                viewBox="0 0 48 48"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z"
                                                    fill="none"
                                                    stroke-width="4"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                                <path
                                                    d="M26.1215 21.8789L21.8789 26.1215"
                                                    stroke-width="4"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                                <path
                                                    d="M32.4851 26.8285L33.8993 25.4143C35.4614 23.8522 35.4614 21.3195 33.8993 19.7574L28.2425 14.1005C26.6804 12.5384 24.1477 12.5384 22.5856 14.1005L21.1714 15.5148"
                                                    stroke-width="4"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                                <path
                                                    d="M26.8282 32.4853L25.414 33.8995C23.8519 35.4616 21.3193 35.4616 19.7572 33.8995L14.1003 28.2427C12.5382 26.6806 12.5382 24.1479 14.1003 22.5858L15.5145 21.1716"
                                                    stroke-width="4"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                            </svg>
                                        </div>
                                        <div *ngSwitchCase="'photography'">
                                            <svg
                                                width="24"
                                                height="24"
                                                viewBox="0 0 48 48"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <path
                                                    d="M15 12L18 6H30L33 12H15Z"
                                                    fill="none"
                                                    stroke-width="4"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                                <rect
                                                    x="4"
                                                    y="12"
                                                    width="40"
                                                    height="30"
                                                    rx="3"
                                                    fill="none"
                                                    stroke-width="4"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                                <path
                                                    d="M24 35C28.4183 35 32 31.4183 32 27C32 22.5817 28.4183 19 24 19C19.5817 19 16 22.5817 16 27C16 31.4183 19.5817 35 24 35Z"
                                                    fill="none"
                                                    stroke-width="4"
                                                    stroke-linejoin="round"
                                                    class="stroke-color"
                                                />
                                            </svg>
                                        </div>
                                    </div>
                                </jl-doing>
                            </ng-container>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="remuse mt1">
                        <jl-title>{{ "resume" | translation }}</jl-title>
                        <div class="flex flex-wrap">
                            <div class="py20 w-auto">
                                <jl-timeline [timelineOption]="eduction">
                                    <span class="flex flex-center">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 48 48"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M5 16L24 6L43 16L24 26L5 16Z"
                                                fill="none"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="stroke-color"
                                            />
                                            <path
                                                d="M11 20V34.464C11 35.9282 12.0551 37.1872 13.4711 37.5594C15.6758 38.139 19.0564 39.2194 22.3562 41.0292C23.3775 41.5893 24.6225 41.5893 25.6438 41.0292C28.9436 39.2194 32.3242 38.139 34.5289 37.5594C35.9449 37.1872 37 35.9282 37 34.464V20"
                                                class="stroke-color"
                                                stroke-width="2"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M43 16L43 32"
                                                class="stroke-color"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        <span class="ml05">{{
                                            "eductionTitle" | translation
                                        }}</span>
                                    </span>
                                </jl-timeline>
                            </div>
                            <div class="py20 w-auto">
                                <jl-timeline [timelineOption]="experience">
                                    <span class="flex flex-center">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 48 48"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M32 16C32 9.92487 28.4183 4 24 4C19.5817 4 16 9.92487 16 16"
                                                class="stroke-color"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M9 16H39L40 28H27V25H21V28H8L9 16Z"
                                                fill="none"
                                                class="stroke-color"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M8 28L6 42H42L40 28"
                                                class="stroke-color"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M21 25H27V31H21V25Z"
                                                class="stroke-color"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                        <span class="ml05">{{
                                            "experienceTitle" | translation
                                        }}</span>
                                    </span>
                                </jl-timeline>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="undertint-bgc-radius">
                    <div class="py20">
                        <jl-title>{{ "skillsTitle" | translation }}</jl-title>
                        <div class="flex flex-wrap">
                            <jl-skills
                                class="skill-box-wrapper w-auto"
                                [skills]="skillsOne"
                            ></jl-skills>
                            <jl-skills
                                class="skill-box-wrapper w-auto"
                                [skills]="skillsTwo"
                            ></jl-skills>
                        </div>
                    </div>
                </section>
            </div>
            <jl-footer></jl-footer>
        </div>
    </div>
    <jl-fixed-widgets
        (langChange)="handleChangeLang()"
        [currentLang]="currentLang"
    ></jl-fixed-widgets>
</div>
