.content {
    padding-top: 10rem;
}

.box {
    background-color: var(--white);
    border-radius: 0.937rem;
    box-shadow: 0px 24px 40px rgba(168, 134, 144, 0.3);
    padding: 1.875rem;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    &::before {
        content: "";
        box-shadow: 0px 24px 40px rgba(168, 134, 144, 0.2);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 1rem;
        width: 86%;
        z-index: -1;
    }
}

li.info-item span:last-child {
    margin: 0 2rem 0 1rem;
}

.avatar {
    max-height: 180px;
    max-width: 180px;
    height: 180px;
    width: 180px;
    filter: drop-shadow(0 2px 8px rgba(168, 134, 144, 0.4))
        drop-shadow(0 8px 32px rgba(168, 134, 144, 0.4));
    image {
        height: 100%;
        width: 100%;
    }
}

.avatar-180 {
    margin-top: -8rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
}

.position {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 10rem;
    padding: 0.6rem 1.2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

jl-footer {
    color: var(--light);
}
