<div class="fixed-widgets">
    <div class="lang-widget" (click)="handleChangeLang($event)">
        <div class="lang-wrapper" [ngClass]="{ active: currentLang === 'zh' }">
            <span class="text-center title h5">Z</span>
            <span class="text-center title h5">E</span>
        </div>
    </div>
</div>
