.fixed-widgets {
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.lang-widget {
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(134, 151, 168, 0.6);
    .lang-wrapper {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }
    .lang-wrapper.active {
        top: -32px;
    }
    span {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 32px;
    }
}
