/* You can add global styles to this file, and also import other style files */
@import "./app/styles/index.less";

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: var(--root-size);
    color: var(--dark);
    font-weight: 300;
    letter-spacing: 1px;
}

body {
    color: var(--dark);
    background-color: var(--gray1);
    background-image: url("./assets/pic/gbc.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

::selection {
    background-color: transparent;
    color: var(--primary);
}
